body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: #121420;
}

.banner {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    background: #212436 url(../img/bg.jpg) no-repeat top center;
    background-size: cover;
    padding: 180px 0 100px;
    color: white;
}

.header-content {
    text-align: center;
    margin-bottom: 120px;
}

.header-content h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 600;
}

.header-content p {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.04em;
}

.header-countdown {
    padding: 30px 10px;
    border-radius: 8px;
    background: rgba(23,177,251,0.72);
    text-align: center;
}
.header-countdown h3 {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.ts-count-down {
    text-align: center;
}

.ts-count-down > div {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.ts-cc-number {
    font-size: 40px;
    color: #121420;
    font-weight: 700;
}
.ts-cc-description {
    display: block;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #fff;
}

.header-button a {
    display: inline-block;
    background: #17b1fb;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #121420;
    border-radius: 4px;
    margin: 0 6px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.header-button a:hover {
    background: #fff;
}

.header-notify-box {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.header-notify-box h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.header-notify-box p {
    font-size: 12px;
    color: #fff;
}

#valor_actual{
    font-size: 50px;
    color: black;
}
#loader{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: black;
    text-align: center;
    padding-top: 18%;
}
#loader img{
    width: 200px;
}
#loader #txt_carga{
    color: white;
}