<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/base.css">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="js/base.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="js/bootstrap.min.js"></script>
    <title>Mostrar Bitcoin</title>
</head>
<body>
	<div id="loader"> 
		<img src="/img/bitcoin_logo.png" alt="">
		<div id="txt_carga">Cargando...</div>
	</div>
    <section class="banner" id="home">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Header content start -->
					<div class="header-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
						<h2>Valores de Cripto Moneda Bitcoin</h2>
						<p>Obtener Valores de la moneda</p>
						<div class="header-button">
							<a href="#" id="btn_actualizar">Actualizar</a>
						</div>
					</div>
					<!-- Header content start -->
					
					<!-- Header countdown start -->
					<div class="row">
						<div class="col-md-6">
							<!-- Time Counter start -->
							<div class="header-countdown wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <h3>El valor Actual</h3>
                                <div id="valor_actual"></div>
                                <div id="fecha_valor"></div>
                                <div>Fecha de Hoy <?=date('d-m-Y H:i:s')?></div>
							</div>
							<!-- Time Counter end -->
						</div>
						
						<div class="col-md-6">
							<div class="header-notify wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
								<div class="header-notify-box">
									<h4>Ultimo Valor Obtenido</h4>
									<p id="ultimo"></p>
								</div>
								
								<div class="header-notify-box">
									<h4>Penultimo Valor Obtenido</h4>
									<p id="penultimo"></p>
								</div>
								
							</div>
						</div>
					</div>
					<!-- Header countdown end -->
					
				</div>
			</div>
		</div>	
	</section>
    
</body>
</html>